.u-block{
	padding: 14px;
	&__section{
		margin-bottom:10px;
	}
	&__title {
		margin-top:10px;
		font-size: 15px;
		color: $u-content-color;
		margin-bottom:10px;
	}
	&__flex{
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
	}
}

